:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #896acb;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-color-secondary: #f58a0b;
  --dl-color-tertiary: #f24aa3;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}


/* --------- Default style-------------- */
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);


}

/* ------------------------------------- */

/* ------------ Reset Style ---------------*/
html {
  line-height: 1.15;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p,
li,
ul,
pre,
div,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
figcaption {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focus,
[type="button"]:-moz-focus,
[type="reset"]:-moz-focus,
[type="submit"]:-moz-focus {
  outline: 1px dotted ButtonText;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

html {
  scroll-behavior: smooth
}



/* ----------- New Section For Context----------- */
.merged-card {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  height: 384px;
  width: 392px;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #292929;
}

.merged-icon {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  aspect-ratio: 1;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  /* background-color: #80FF44; */
}

.merged-icon1 {
  height: 175px;
  object-fit: cover;
}

.merged-content {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.merged-header-text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 36px;
}

.merged-card-desc {
  color: #C2C6CC;
  font-family: Poppins;
  line-height: 28px;
}

@media(max-width: 991px) {
  .merged-root-class-name {
    flex: 0 0 auto;
    width: 100%;
  }

  .merged-root-class-name1 {
    flex: 0 0 auto;
    width: 100%;
  }

  .merged-root-class-name2 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.merged-section001 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #0F0F0F;
}

.merged-header {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.merged-left {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.merged-right {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.merged-paragraph {
  width: 100%;
  max-width: 480px;
}

.merged-cards {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-sixunits);
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@media(max-width: 991px) {
  .merged-section001 {
    gap: var(--dl-space-space-threeunits);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .merged-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .merged-cards {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
}

@media(max-width: 767px) {
  .merged-left {
    gap: var(--dl-space-space-unit);
  }
}

/* Gradient Text */

.gradient-text {
  background: linear-gradient(310deg, var(--dl-color-primary-100), var(--dl-color-tertiary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;

}


/* Waveform */

.waveform-video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  /* Adjust based on your layout */
  margin-top: 20px;
}

.waveform-video {
  width: 100%;
  max-height: 300px;
  /* Adjust based on your preference */
  object-fit: cover;
}

.video-control {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: var(--dl-color-secondary);
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}

@media (max-width: 991px) {
  .waveform-video {
    max-height: 100px;
  }
}




/* ---------------------------------------------- */



/* --------------------------------------- */

.home-checkmarks li {
  margin-bottom: 15px;
  /* Adjust this value as needed */
}

/* Adjust line spacing within bullet points */
.home-checkmarks li div {
  line-height: 2;
  /* Adjust this value as needed */
}

li {
  line-height: 2;
  /* Adjust this value as needed */
}

ul.home-checkmarks {
  list-style-type: none;
  color: #f1f1f1;
  padding: 0;
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

ul.home-checkmarks li {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.mark-icon {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: 50%;
  flex-direction: row;
  justify-content: center;
  background-color: #292929;
}

.mark-icon1 {
  fill: #f57832;
  width: 12px;
  height: 12px;
}


.rotating-text-container {
  background: linear-gradient(310deg, var(--dl-color-primary-100), var(--dl-color-tertiary));
  ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* For Safari */
  display: inline;
  /* Align with the typewriter cursor */
}

#rotating-text {
  white-space: nowrap;
  /* Prevent text wrapping */
  display: inline;
  /* Required for the gradient to work correctly */
}

#rotating-text:after {
  content: '|';
  /* The typewriter cursor */
  animation: blink 1s infinite;
  color: #894cff;
  /* Make the cursor green */
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}




/* --------------------------------------- */
@media(min-width: 991px) {
  .home-section {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image:
      url('public/PexelsImgs/banner-flip-removebg.png');
  }
}

@media(max-width: 767px) {
  .home-section {
    /* background-image:
      url('public/PexelsImgs/banner-flip-removebg.png'); */
    background-size: 100%;
  }

}

@media(max-width: 991px) {
  .home-section {
    /*  background-image:
      url('public/PexelsImgs/banner-flip-removebg.png'); */
    background-size: 100%;
  }
}

.home-section1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}

.home-text02 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}

.home-features {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  user-select: none;
  border-color: #5A5A5A;
  flex-direction: row;
  justify-content: center;
  border-bottom-width: 1px;
}

.home-text03 {
  color: #0F0F0F;
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}

.home-text04 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}

.home-text05 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}

.home-text06 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}

.home-text07 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}

.home-text08 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}

.note-note {
  display: flex;
  align-items: center;
  /* Center the content vertically */
  justify-content: center;
  /* Elements on either side */
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.note-content,
.pricing-section {
  flex: 1;
  max-width: 100%;
  padding: 20px;
  /* Each side takes up half the width */
}

.note-main {
  display: flex;
  align-items: center;
  /* Align the heading vertically */
  justify-content: center;
  text-align: center;
  /* Center the heading text */
  flex-direction: column;
  height: 100%;
}

/* Pricing Table */

.table-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}

.pricing-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 7px;
  text-align: center;
}

.pricing-table th,
.pricing-table td {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

.pricing-table tr {
  box-shadow: -8px 0 8px -6px rgba(0, 0, 0, 0.15), 0 8px 8px -6px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.pricing-table td {
  color: #666;
  font-size: 16px;
  box-shadow: none;
  vertical-align: middle;
  text-align: center;
}

.pricing-table th {
  background-image: linear-gradient(310deg, #894cff, #f57832);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  text-align: left;
}

.pricing-table tr:hover td {
  background-color: transparent;
}

.table-price-data {
  float: right;
  padding-right: 15%;
}

.pricing-table td:last-child {
  text-align: right;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

@media (max-width: 600px) {
  .table-container {
    padding: 10px;
  }

  .pricing-table th,
  .pricing-table td {
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .note-content {
    min-width: 100%;
    /* Ensure full width is used on smaller screens */
  }
}

[data-service-container] {
  display: none;
}

[data-service-container="prompt"] {
  display: contents;
  flex-direction: column;
  /* Ensures a vertical layout */
}

[data-service-content] {
  display: block;
  flex-grow: 1;
  min-width: 0;
}

.note-container {
  max-width: 100%;
}

.feature {
  cursor: pointer;
}


/* ----- */
.note-heading {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}

.note-paragraph {
  color: #CCCCCC;
  font-family: Poppins;
  line-height: 28px;
}

.note-explore-more {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}

.note-explore-more:hover {
  opacity: 0.5;
}

.note-text5 {
  color: #80FF44;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.note-image {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.note-image1 {
  object-fit: cover;
  height: 358px;
  width: 469px;
}

@media(max-width: 991px) {
  .note-note {
    gap: var(--dl-space-space-fourunits);
    flex-direction: column;
  }

  .note-content {
    min-width: 100%;
  }

  .note-main {
    align-items: flex-start;
  }
}

@media(max-width: 767px) {
  .note-note {
    gap: var(--dl-space-space-threeunits);
  }

  .note-main {
    width: 100%;
    align-items: flex-start;
  }

  .note-heading {
    font-size: 28px;
  }

  .note-paragraph {
    line-height: 24px;
  }
}

@media(max-width: 479px) {
  .note-image1 {
    width: 100%;
  }
}


/* ---------Form --------------- */
.form-popup {
  display: none;
  position: relative;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  max-width: 100%;
  background-color: #292929;
  padding: var(--dl-space-space-halfunit);
  border-radius: 50px;
}

.form-container input[type=text],
.form-container textarea,
.form-container .btn {
  flex: 1;
}

.form-container input[type=text],
.form-container textarea {
  width: 100%;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  outline-style: none;
  background-color: rgba(217, 217, 217, 0);
  border: none;
  border-radius: 0;
  margin: 0;
}

.form-container h1 {
  display: none;
}

.form-container label {
  display: none;
}

.form-container .btn {
  background-color: #80FF44;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-oneandhalfunits);
}

.form-container .btn:before {
  content: "->";
  margin-right: 5px;
}

.form-container .cancel {
  background-color: red;
  margin-left: var(--dl-space-space-oneandhalfunits);
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.home-get-started4 {
  transition: all 0.3s ease;
}

.form-popup {
  display: none;
  transition: opacity 0.3s ease;
}

.form-popup.show {
  display: block;
  opacity: 1;
}

/* ------------------------------------- */

/* Main CSS */
.button {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 58px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background: linear-gradient(310deg, var(--dl-color-primary-100), var(--dl-color-tertiary));
}

.logo {
  font-family: 'Encode Sans SC', sans-serif;
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-weight: 700;
  font-size: 50px;
  margin-left: 7vw;
  text-decoration: none;
  /* Removes underline from hyperlink */
}


.button:hover {
  opacity: 0.5;
}

.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
  transform: none !important;
}

.nav-link {
  color: #fff;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.5;
}

.get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 58px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  text-decoration: none;
  background-color: rgba(42, 42, 42, 1);
}

.get-started:hover {
  opacity: 0.5;
}

.avatar {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}

/* .feature {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
} */

.feature {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: white;
  /* Apple-like white cards */
  border-radius: 4px;
  /* Rounded corners */
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); */
  /* Subtle shadow for depth */
  transition: transform 0.3s ease-in-out;
  /* Smooth transition for hover effect */
}

.feature:hover {
  transform: translateY(-2px);
  /* Slight lift when hovered */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  /* Increased shadow on hover */
}

.feature-active {
  border-color: var(--dl-color-tertiary);
  border-bottom-width: 4px;
}

.section-head {
  background: linear-gradient(310deg, var(--dl-color-primary-100), var(--dl-color-tertiary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-heading {
  color: #0f0f0f;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
}

.contact-heading {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
}

.section-description {
  color: rgb(204, 204, 204);
  width: 100%;
  max-width: 600px;
  font-family: Poppins;
  line-height: 28px;
}

.list-text {
  color: #0f0f0f
}

.accordion-element {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
  max-width: 600px;
  transition: .5s all linear;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  user-select: none;
  border-color: #5A5A5A;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-bottom-width: 1px;
}

.side {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(130px);
}

.switch {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 48px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #0F0F0F;
}

.switch:hover {
  opacity: .5;
}

.social {
  width: 24px;
  cursor: pointer;
  height: 24px;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}

.social:hover {
  opacity: 0.5;
}

.footer-header {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}

.footer-link {
  color: rgb(204, 204, 204);
  font-size: 14px;
  font-family: Poppins;
  line-height: 21px;
}

.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 767px) {
  .nav-link {
    color: black;
  }

  .accordion-element {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

@media(max-width: 479px) {
  .accordion-element {
    max-width: auto;
  }
}


/* Particles CSS */
/* just to be sure these are full screen*/

/* canvas { 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; 
  z-index: -1; 
}
 */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: -1;
}



/*  */